hr {
    border: 0;
    border-top: 2px solid #526D78;
}
body{
    background-color: #F4F1EA;
    color: #2F3437;
    font-family: 'Times New Roman', Times, serif;
}

    h2{ background-color: #526D78;
    color: #F4F1EA;
    padding: 10px;
    margin: 30px 0 15px;
    border-radius: 6px;
}
    

    table {
   border-collapse: collapse;
    border: 2px solid #526D78;
}

th, td {
    border: 1px solid #C9C3B8;
    padding: 10px;
}

th{
    background-color: #526D78;
    color: #F4F1EA;
}
.esp {
    border-radius: 15px;
    border: 3px solid #526D78;
    transition: o.3s;
}

.logo{
    border-radius: 12px;
    border: 3px #f0f1f2;
}

p{
    font-size: larger;
    text-align: justify;
}

.clique{
    transition: transform 0.2s;
}

.clique:hover{
    transform: scale(1.1);
    cursor: pointer;
}